<div class="presenter-body">
  <div class="microphone-button">
    <h1 class="microphone-button"><strong>Click the Microphone to start recording!</strong></h1>

    <div class = "wordsContainer" contenteditable="false"></div>

    <button class="btn btn-light btn-lg" id="btnStartRec"><i class="fa fa-microphone"></i> Start</button>
    <button class="btn btn-light btn-lg" id="btnEndRec"><i class="fa fa-stop-circle"></i> End</button>
    <button class="btn btn-light btn-lg" id="btnClearRec"> <i class="fas fa-eraser"></i> Clear</button>
    <button class="btn btn-light btn-lg" id="btnSubmitRec"><i class="fas fa-cloud-upload-alt"></i> Submit to Server</button>
  </div>

  {{!-- delete --}}
  <form name="delete-docket-form" action="/{{this.id}}" method="delete">
    <div class="form-submit">
        <input type="submit" value="Delete my docket" />
    </div>
  </form>


</div>

<!--View Mandatory Scripts -->
<script src="js/breakpoints.min.js"></script>
<script src="js/main.js"></script>
<!-- Audio/Custom Script -->
<script src="//www.WebRTC-Experiment.com/RecordRTC.js"></script>
<script src="js/Presenter.js" type="text/javascript"></script>

<!-- link to JS -->
<script src = "js/speechRecognitionMain.js" type = "text/javascript"></script>