<div class="login-form">
  <div class="main-div">
    <div class="panel">
      <h2>Sign Up</h2>
    </div>

    <form id="Login">
      <div class="form-group">
        <label for="username">Please enter your Username:</label>
        <input type="text" class="form-control" id="username" placeholder="Username">
      </div>

      <br>

      <div class="form-group" id="category">
        <label for="category">Category</label>
        <select class="form-control">
          <option value="Comedy">Comedy</option>
          <option value="Poetry">Poetry</option>
          <option value="Music">Music</option>
          <option value="Vent">Vent</option>
        </select>
      </div>

      <br>

      <div class="form-check" id="presenter">
        <input class="form-check-input" type="radio" name="radios" id="presenter" value="presenter" checked>
        <label class="form-check-label" for="present">
          I want to present!
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radios" id="listen" value="listen">
        <label class="form-check-label" for="listen">
          I just want to listen
        </label>
      </div>

      <br>

      <button type="submit" class="btn btn-primary" id="submit-btn">Enter!</button>
    </form>
  </div>
</div>

<script src="/js/add.js" type="text/javascript"></script>
