<div class="login-form">
  <div class="main-div">
    <div class="panel">
      <h2>Sign Up</h2>
      <p>Please enter your Username:</p>
    </div>

    <form id="Login">
      <div class="form-group">
        <input type="text" class="form-control" id="username" placeholder="Username">
      </div>
      
<div class="form-group" id="category">
  <h6 class="dropdown-header">Categories</h6>
  <a class="dropdown-item" href="#">Comedy</a>
  <a class="dropdown-item" href="#">Poetry</a>
  <a class="dropdown-item" href="#">Music</a>
  <a class="dropdown-item" href="#">Vent</a>
</div>

      <div id="presenter" , class="entry">
        <label for="yes_no_radio">Are you a presenter?</label>
        <p>
          <input type="radio" name="yes_no" value="yes" checked>Yes</input>
        </p>
        <p>
          <input type="radio" name="yes_no" value="no">No</input>
        </p>
      </div>

      <button type="submit" class="btn btn-primary" id="submit-btn">Submit</button>
    </form>
  </div>
</div>

<script src="/js/add.js" type="text/javascript"></script>
