<div class="waiting-room-body">
    <div class="microphone-button">
        <h2 id=waiting-music>
            Enjoy the music!
        </h2>
    </div>

    <div class = "middleContainer">

    <div class = "wordsContainer" contenteditable="false"></div>

    <button class="btn btn-light btn-lg" id="btnStartRec"><i class="fa fa-microphone"></i> Start</button>
    <button class="btn btn-light btn-lg" id="btnEndRec"><i class="fa fa-stop-circle"></i> End</button>
    <button class="btn btn-light btn-lg" id="btnClearRec"> <i class="fas fa-eraser"></i> Clear</button>
    <button class="btn btn-light btn-lg" id="btnSubmitRec"><i class="fas fa-cloud-upload-alt"></i> Submit to Server</button>

    </div>

    <div class = "bottomContainer">
            <div class = "container text-center">
        <div class = "row">
            <div class = "col-md-6 mx-auto">
                <form>

                    <!-- Speech Synthesis -->
                    <div class = "form-group">
                        <textarea name = "" id = "text-input" class ="form-control form-control-lg" placeholder = "Type Anything..."></textarea>
                    </div>

                    <div class = "form-group">
                        <label id="rate">Rate</label>
                        <div id="rate-value" class = "badge badge-primary float-right">1</div>
                        <input type="range" id="rate" class="custom-range" min= "0.5" max ="2" value ="1" step = "0.1">
                    </div>

                    <div class = "form-group">
                        <label id="pitch">Pitch</label>
                        <div id="pitch-value" class = "badge badge-primary float-right">1</div>
                        <input type="range" id="pitch" class="custom-range" min= "0" max ="2" value ="1" step = "0.1">
                    </div>

                    <div class = "form-group">
                        <select id = "voice-select" class = "form-control form-control-lg"></select>
                    </div>

                    <button class = "btn btn-light btn-lg" id = "btnPlaySyn"><i class="fa fa-microphone"></i> Click to Play</button>

                    <button class = "btn btn-light btn-lg" id = "btnStopSyn"><i class="fa fa-stop-circle"></i> Click to Stop</button>

                    <button class = "btn btn-light btn-lg" id = "btnClearSyn"><i class="fas fa-eraser"></i> Clear</button>             

                    <button class ="btn btn-light btn-lg" id = "btnPullSyn"><i class="fas fa-cloud-download-alt"></i> Pull from Server</button>
                </form>

            </div>
        </div>
    </div>
    </div>

</div>
<!--View Mandatory Scripts -->
<script src="js/breakpoints.min.js"></script>
<script src="js/main.js"></script>
<!-- Custom Script -->
<script src="js/waiting_room.js" type="text/javascript"></script>

<!-- link to JS -->
<script src = "js/speechRecognitionMain.js" type = "text/javascript"></script>
<script src = "js/speechSynthesisMain.js" type = "text/javascript"></script>