<div class="waiting-room-body">
    <div class="microphone-button">
        <h2 id=waiting-music>
            Enjoy the music!
        </h2>
    </div>
</div>
<!--View Mandatory Scripts -->
<script src="js/breakpoints.min.js"></script>
<script src="js/main.js"></script>
<!-- Custom Script -->
<script src="js/waiting_room.js" type="text/javascript"></script>